[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
asgiref = "*"
colorama = "*"
django = "*"
django-ninja = "*"
orjson = "*"
packaging = "*"
pltable = "*"
pydantic = "*"
pydantic-core = "*"
python-dotenv = "*"
sqlparse = "*"
typing-extensions = "*"
tzdata = "*"
granian = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.12"
