[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.6.0"
asgiref = "==3.7.2"
colorama = "==0.4.6"
django = "*"
django-ninja = "==1.1.0"
orjson = "*"
packaging = "==23.2"
pltable = "==1.1.0"
pydantic = "==2.5.3"
pydantic-core = "==2.14.6"
python-dotenv = "*"
sqlparse = "==0.4.4"
typing-extensions = "==4.9.0"
tzdata = "*"
granian = "*"

[dev-packages]

[requires]
python_version = "3.11"
